<connectionStrings>
  <add name="LibrarySystemSQLExpress"
       connectionString="data source=.\SQLEXPRESS; Initial Catalog=LibrarySystem; Integrated Security=True; MultipleActiveResultSets=True; App=EntityFramework"
       providerName="System.Data.SqlClient"/>
  <add name="LibrarySystemSQLite"
       connectionString="Data Source=..\..\LibrarySystem.db;foreign keys=true"
       providerName="System.Data.SQLite" />
  <!--Add here the path to the local instance of SQLite server and inject it in DbContext-->
</connectionStrings>