<connectionStrings>
  <add name="LibrarySystemSQLite"
       connectionString="Data Source=|DataDirectory|..\..\LibrarySystem.sqlite; foreign keys=true"
       providerName="System.Data.SQLite" />
  <!--Add here the path to the local instance of SQLite server and inject it in DbContext-->
</connectionStrings>